<!DOCTYPE html>
<link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

<head>
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-JVM4JGMWJV"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-JVM4JGMWJV');
  </script>
</head>

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
